---
import Layout from "@/layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="ยินดีต้อนรับเข้าสู่เว็บไซต์ของฉัน! Abe Taweechai Yuenyang"
  pubDate={new Date("May 05 1987")}
  heroImage="/portfolios/worker.png"
>
  <p>สวัสดีครับ ผมชื่อเอฟ เป็น Full-Stack Developer</p>

  <p>
    ที่มีความสนใจในการพัฒนา Web Application ที่ใช้งานง่าย เร็ว และปลอดภัย
    ผมเริ่มต้นจากการเขียนเว็บเล่น ๆ ด้วย <strong>PHP</strong> กับ <strong
      >Python</strong
    > และต่อยอดมาทำระบบระดับ production ด้วย <strong>Laravel</strong>, <strong
      >Django</strong
    > และ <strong>Podman</strong> และบางครั้งก็ใช้ <strong>Docker</strong>
  </p>
  <p>
    ผมเชื่อในการเขียนโค้ดที่อ่านง่าย และชอบพัฒนาอย่างต่อเนื่องผ่าน feedback
    และการทำงานร่วมกับทีม
  </p>
  <p>
    ตอนนี้กำลังเรียนรู้ Kubernetes และลองสร้าง side project ที่ใช้ AI
    ในการวิเคราะห์ราคาหุ้นและกำลังทำระบบ Bot ช่วยในการเทรด Crypto
  </p>
</Layout>
