<section
  class="section is-medium has-background-image section-feature-grey"
  data-background="/img/background/kari-shea-1SAnrIxw5OY-unsplash.jpg"
  data-color="#4FC1EA"
  data-color-opacity=".6"
  id="content"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">บทความน่าสนใจ</h2>
      <h3 class="subtitle is-5 ">รวมบทความที่น่าสนใจ</h3>
    </div>

    <div class="testimonials content-wrapper">
      <div class="columns is-vcentered">
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc
              minim appetere te usu, ea case duis scribentur has. Duo te
              consequat elaboraret, has quando suavitate at.
            </blockquote>
            <div class="author">
              <img src="/img/illustrations/faces/1.png" alt="" />
              <div>
                <h5>Irma Walters</h5>
                <span>Accountant</span>
              </div>
            </div>
          </figure>
        </div>
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc
              minim appetere te usu, ea case duis scribentur has. Duo te
              consequat elaboraret, has quando suavitate at.
            </blockquote>
            <div class="author">
              <img src="/img/illustrations/faces/2.png" alt="" />
              <div>
                <h5>John Bradley</h5>
                <span>Financial Analyst</span>
              </div>
            </div>
          </figure>
        </div>
        <div class="column is-4">
          <figure class="testimonial">
            <blockquote>
              Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc
              minim appetere te usu, ea case duis scribentur has. Duo te
              consequat elaboraret, has quando suavitate at.
            </blockquote>
            <div class="author">
              <img src="/img/illustrations/faces/3.png" alt="" />
              <div>
                <h5>Gary Blackman</h5>
                <span>HR Manager</span>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
