<section class="section section-light-grey is-medium" id="contact">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">ติดต่อสอบถาม</h2>
      <h3 class="subtitle is-5 is-muted">หากต้องการให้ติดต่อกลับสามารถกรอกแบบฟอร์มนี้เลย</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column is-12">
                <input
                  class="input is-medium"
                  type="text"
                  placeholder="ชื่อผู้ติดต่อ *"
                />
              </div>
              <div class="column is-12">
                <input
                  class="input is-medium"
                  type="text"
                  placeholder="Email ต้องการติดต่อกลับ *"
                />
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="6" placeholder="รายละเอียด"></textarea>
              </div>
              <div class="column is-12">
                <div class="form-footer has-text-right mt-10">
                  <button
                    class="button cta is-large primary-btn form-button raised is-clear"
                    >ส่งข้อความ</button
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>