<section>
  <h1>Education</h1>
  <p>ประวัติการศึกษา</p>
  <table class="table table-fixed">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>ปี</th>
        <th>สถาบัน</th>
        <th>สาขา</th>
        <th>GPA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>2551-2555</td>
        <td>มหาวิทยาลัยราชภัฏกาฬสินธุ์</td>
        <td>ปริญญาตรี บริหารธุรกิจ (คอมพิวเตอร์ธุรกิจ)</td>
        <td>2.48</td>
      </tr>
      <tr>
        <th>2</th>
        <td>2550-2552</td>
        <td>วชช.มุกดาหาร</td>
        <td>ปวส. คอมพิวเตอร์ธุรกิจ</td>
        <td>2.88</td>
      </tr>
      <tr>
        <th>3</th>
        <td>2547-2549</td>
        <td>คำชะอีวิทยาคาร</td>
        <td>มัธยมศึกษาตอนปลาย</td>
        <td>1.94</td>
      </tr>
    </tbody>
  </table>
</section>
