<section>
  <h1>Education</h1>
  <p>ประวัติการศึกษา</p>
  <table class="table table-fixed">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th>ปี</th>
        <th>สถาบัน</th>
        <th>สาขา</th>
        <th>GPA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>2000-2000</td>
        <td>มหาวิทยาลัยราชภัฏกาฬสินธุ์</td>
        <td>ปริญญาตรี สาขาบริหารธุรกิจ (คอมพิวเตอร์ธุรกิจ)</td>
        <td>0.00</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>2</th>
        <td>Hart Hagerty</td>
        <td>Desktop Support Technician</td>
        <td>Purple</td>
        <td>Purple</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>Brice Swyre</td>
        <td>Tax Accountant</td>
        <td>Red</td>
        <td>Red</td>
      </tr>
    </tbody>
  </table>
</section>
