---
import { Icon } from "astro-icon/components";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
const today = new Date();
---

<div
  class="w-full h-40 static bottom-0 border-t-2 border-t-gray-300 shadow-2xs"
>
  <footer>
    &copy; {today.getFullYear()}
    {SITE_TITLE}. All rights reserved.
    <div class="social-links">
      <a href="https://www.threads.com/@krumii.it" target="_blank">
        <span class="sr-only">Follow Me on Threads</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 20 20"
          ><!-- Icon from Entypo+ Social by Daniel Bruce - https://creativecommons.org/licenses/by-sa/4.0/ -->
          <path
            fill="currentColor"
            d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4m2.577 13.741a5.5 5.5 0 0 1-1.066.395a4.5 4.5 0 0 1-1.031.113q-.63 0-1.114-.162a2.4 2.4 0 0 1-.826-.459a1.65 1.65 0 0 1-.474-.633q-.132-.337-.132-.973V9.16H6.918V7.846q.54-.178.927-.512q.386-.331.619-.797q.234-.466.322-1.185h1.307v2.35h2.18V9.16h-2.18v2.385q0 .809.085 1.037a.7.7 0 0 0 .315.367q.306.185.697.185q.699 0 1.388-.461z"
          ></path></svg
        >
      </a>
      <a href="https://www.instagram.com/krumii.it/" target="_blank">
        <span class="sr-only">Follow Me on Instagram</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 20 20"
          ><!-- Icon from Entypo+ Social by Daniel Bruce - https://creativecommons.org/licenses/by-sa/4.0/ -->
          <path
            fill="currentColor"
            d="M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h14c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2M9.984 15.523a5.54 5.54 0 0 0 5.538-5.539c0-.338-.043-.664-.103-.984H17v7.216a.69.69 0 0 1-.693.69H3.693a.69.69 0 0 1-.693-.69V9h1.549c-.061.32-.104.646-.104.984a5.54 5.54 0 0 0 5.539 5.539M6.523 9.984a3.461 3.461 0 1 1 6.922 0a3.461 3.461 0 0 1-6.922 0M16.307 6h-1.615A.694.694 0 0 1 14 5.308V3.691c0-.382.31-.691.691-.691h1.615c.384 0 .694.309.694.691v1.616c0 .381-.31.693-.693.693"
          ></path></svg
        >
      </a>
      <a href="https://www.facebook.com/korekaikonit" target="_blank">
        <span class="sr-only">Follow Me on Facebook</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 20 20"
          ><!-- Icon from Entypo+ Social by Daniel Bruce - https://creativecommons.org/licenses/by-sa/4.0/ -->
          <path
            fill="currentColor"
            d="M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h7v-7H8V9.525h2v-2.05c0-2.164 1.212-3.684 3.766-3.684l1.803.002v2.605h-1.197c-.994 0-1.372.746-1.372 1.438v1.69h2.568L15 12h-2v7h4c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2"
          ></path></svg
        >
      </a>
      <a href="https://www.youtube.com/@TaweechaiYuenyang" target="_blank">
        <span class="sr-only">Follow Me on Youtube</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 20 20"
          ><!-- Icon from Entypo+ Social by Daniel Bruce - https://creativecommons.org/licenses/by-sa/4.0/ -->
          <path
            fill="currentColor"
            d="M10 2.3C.172 2.3 0 3.174 0 10s.172 7.7 10 7.7s10-.874 10-7.7s-.172-7.7-10-7.7m3.205 8.034l-4.49 2.096c-.393.182-.715-.022-.715-.456V8.026c0-.433.322-.638.715-.456l4.49 2.096c.393.184.393.484 0 .668"
          ></path></svg
        >
      </a>
      <a
        href="https://www.linkedin.com/in/%E0%B8%97%E0%B8%A7%E0%B8%B5%E0%B8%8A%E0%B8%B1%E0%B8%A2-%E0%B8%A2%E0%B8%B7%E0%B8%99%E0%B8%A2%E0%B8%B1%E0%B9%88%E0%B8%87-54915b35a/"
        target="_blank"
      >
        <span class="sr-only">Follow Me on linkedIn</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 20 20"
          ><!-- Icon from Entypo+ Social by Daniel Bruce - https://creativecommons.org/licenses/by-sa/4.0/ -->
          <path
            fill="currentColor"
            d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4M7.65 13.979H5.706V7.723H7.65zm-.984-7.024c-.614 0-1.011-.435-1.011-.973c0-.549.409-.971 1.036-.971s1.011.422 1.023.971c0 .538-.396.973-1.048.973m8.084 7.024h-1.944v-3.467c0-.807-.282-1.355-.985-1.355c-.537 0-.856.371-.997.728c-.052.127-.065.307-.065.486v3.607H8.814v-4.26c0-.781-.025-1.434-.051-1.996h1.689l.089.869h.039c.256-.408.883-1.01 1.932-1.01c1.279 0 2.238.857 2.238 2.699z"
          ></path></svg
        >
      </a>
      <a href="https://github.com/abe27" target="_blank">
        <span class="sr-only">Go to Abe's GitHub repo</span>
        <svg
          viewBox="0 0 16 16"
          aria-hidden="true"
          width="32"
          height="32"
          astro-icon="social/github"
          ><path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
      </a>
    </div>
  </footer>
</div>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
