<section>
  <h1>Work Experience</h1>
  <p>ประสบการณ์ทำงาน</p>
  <ul
    class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
  >
    <li>
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <time class="font-mono italic">มีนาคม 2566 - ปัจจุบัน</time>
        <div class="text-lg font-black">Programmer, VCS Thailand co. ltd.</div>
        <ul>
          <li>จัดทำรายงานและเขียนโปรแกรมบันทึกข้อมูลเข้าสู่ระบบ Formula</li>
          <li>พัฒนาระบบ PDS ด้วย Django</li>
          <li>พัฒนาระบบ EDI Online ด้วย Laravel</li>
          <li>พัฒนาระบบ MRP ด้วย Laravel</li>
          <li>พัฒนาระบบ BOM Online ด้วย Laravel</li>
          <li>จัดทำระบบ API สำหรับการเชื่อมต่อจากระบบ Formula</li>
          <li>พัฒนา module Odoo และ jasper report</li>
        </ul>
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">พฤษภาคม 2562 - มีนาคม 2566</time>
        <div class="text-lg font-black">Programmer, เซอิวา ไพโอเนียร์ โลจิสติกส์ จำกัด</div>
        <ul>
          <li>พัฒนาระบบคลังสินค้า(Desktop)</li>
          <li>พัฒนาระบบ Webservice(SOAP, REST API)</li>
          <li>พัฒนาระบบ Service(Python) ช่วยในการทำงานส่วนของ Backend</li>
          <li>พัฒนา Software สำหรับ LinuxOS(Debian,Ubuntu)</li>
          <li>พัฒนา Software สำหรับ LED Screen แสดงข้อมูลการรับสินค้าเข้าคลัง</li>
          <li>พัฒนาระบบบน Cloud Computing</li>
          <li>พัฒนาแอพพลิเคชั่นบน Raspberry Pi</li>
        </ul>
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <time class="font-mono italic">มิถุนายน 2558 - พฤษภาคม 2562</time>
        <div class="text-lg font-black">Programmer, Yss thailand</div>
        <ul>
          <li>ปรับปรุงและแก้ระบบ CRM</li>
          <li>พัฒนาระบบประเมินออนไลน์</li>
          <li>พัฒนาแอพพลิเคชั่นบน IOS(IPAD)</li>
          <li>พัฒนาระบบบน Cloud Computing</li>
        </ul>
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">มกราคม 2557 - มิถุนายน 2558</time>
        <div class="text-lg font-black">Programmer, เซอิวา ไพโอเนียร์ โลจิสติกส์ จำกัด</div>
        <ul>
          <li>บริหารจัดการ Web Service</li>
          <li>ปรับปรุงและแก้ไข Application</li>
          <li>พัฒนา Application บน Windows Mobile(Windows CE)</li>
          <li>จัดทำรายงานด้วย Reporting</li>
          <li>ออกแบบและทำรายงาน Barcode 1D,2D(QR-Code)</li>
          <li>บริหารจัดการระบบฐานข้อมูล(Oracle,MySql,Sql Server,Access)</li>
          <li>บริหารจัดการ Firewall ด้วยลีนุกซ์(PFSENSE)</li>
          <li>จัดการระบบ Network</li>
        </ul>
      </div>
    </li>
  </ul>
</section>
